<html>
    <body>
        Welcome to EJS
        <%=msg%>
        <%=courses%>
        <ul>
            <% courses.forEach((item)=>{%>
                <li><%=item%></li>

            <%})%>

        </ul>
    </body>
</html>